<h1 class="header"> Update <%= @location.territory %> Plate </h1>

<%= form_for [@location, @plate] do |f| %>
  <%= f.label :number %>
  <%= f.text_field :number %>

  <%= f.label :year %>
  <%= f.number_field :year %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :source %>
  <%= f.text_field :source %>

  <%= f.label :date_acquired %>
  <%= f.text_field :date_acquired %>

  <%= f.submit "Edit" %>

<% end %>

<%= link_to "Delete", [@location, @plate], method: :delete, class: "delete" %>
