<h1 class="header location"> <%= @location.territory %> (<%= @location.plates.count %>) </h1>

<div class="container"> <%= link_to "Add Plate", new_location_plate_path(@location), class: "btn btn-primary" %> </div>

<div class="container">
  <table class="table table-hover">
    <th>Update Plate</th>
    <th>Number</th>
    <th>Year</th>
    <th>Description</th>
    <th>Source</th>
    <th>Date Acquired</th>
    <th>Image</th>
    <% @plates.each do |plate| %>
    <tr>
      <td> <%= link_to "Update", edit_location_plate_path(@location, plate) %> </td>
      <td> <%= plate.number %> </td>
      <td> <%= plate.year %> </td>
      <td> <%= plate.description %> </td>
      <td> <%= plate.source %> </td>
      <td> <%= plate.date_acquired %> </td>
      <td> <%= image_tag(plate.image_url, size: "300x180") %> </td>
    </tr>
    <% end %>
  </table>
</div>
