<h1 class="header">Plates</h1>

<table class="table table-hover">
  <th>Number</th>
  <th>Year</th>
  <th>Description</th>
  <th>Source</th>
  <th>Date Acquired</th>
  <% @plates.each do |plate| %>
    <tr>
      <td> <%= plate.number %> </td>
      <td> <%= plate.year %> </td>
      <td> <%= plate.style %> </td>
      <td> <%= plate.source %> </td>
      <td> <%= plate.date_acquired %> </td>
    </tr>
  <% end %>

</table>
