<h1 class="header"> Number: <%= @plates.number %> </h1>

<h1 class="header"> Year: <%= @plates.year %> </h1>

<h1 class="header"> Description: <%= @plates.description %> </h1>

<h1 class="header"> Source: <%= @plates.source %> </h1>

<h1 class="header"> Date Acquired: <%= @plates.date_acquired %> </h1>
