<h1> Number: <%= @plates.number %> </h1>

<h1> Year: <%= @plates.year %> </h1>

<h1> Style: <%= @plates.style %> </h1>

<h1> Source: <%= @plates.source %> </h1>

<h1> Date Acquired: <%= @plates.date_acquired %> </h1>
