<h1 class="header"> Update <%= @location.territory %> </h1>

<%= form_for @location do |f| %>
  <%= f.label :country %>
  <%= f.text_field :country %>

  <%= f.label :territory %>
  <%= f.text_field :territory %>

  <%= f.label :territory_type %>
  <%= f.text_field :territory_type %>

  <%= f.submit "Edit" %>

<% end %>

<div class="container">
  <div class="col-md-12">
<%= link_to "Delete", @location, method: :delete, class: "btn btn-primary" %>
  </div>
</div>
