<div id="bars"></div>

<div class="container add index-top"> <%= link_to "Add Location", new_location_path, class: "btn btn-primary" %> </div>

<div class="container">
  <table class="table table-hover" id="data">
    <thead>
      <tr>
        <th>Territory</th>
        <th>Country</th>
        <th>Territory Type</th>
        <th>Total</th>
        <th>Edit Location</th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
      <tr>
        <td> <%= link_to location.territory, location_plates_path(location), class: "btn btn-primary"%> </td>
        <td> <%= location.country %> </td>
        <td> <%= location.territory_type %> </td>
        <td> <%= location.plates.count %> </td>
        <td> <%= link_to "Edit", edit_location_path(location), class: "btn btn-primary" %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>

  var barHeight = 500;
  var w = 1500;

  var dataset = [];

  $.getJSON("/plates_json", function(response) {
    dataset = response;
    console.log(dataset);
  });
  //Because the AJAX requests are asynchronous, you must include a callback function and set the response to the variable you hav already defined as an empty array.//

  var xScale = d3.scale.linear()
            .domain([0, d3.max(dataset)])
            .range([0, w])

  var chart = d3.select("#bars")
               .attr("height", barHeight * dataset.length)
               .attr("width", w);

  var bar = chart.selectAll("g")
                 .data(dataset)
                 .enter()
                 .append("g")
                 .attr("transform", function(d, i) {
                   return "translate(0," + i * barHeight + ")";
                 });

  bar.append("rect")
     .attr("width", xScale)
     .attr("height", barHeight - 1);

  bar.append("text")
     .attr("x", function(d) {
       return x(d) - 3;
     })
     .attr("y", barHeight / 2)
     .attr("dy", ".35em")
     .text(function(d) {
       return d;
     })

</script>
