<div id="bars"></div>

<div> <%= link_to "Add Location", new_location_path %> </div>

<table class="table table-hover">
  <th>Plates</th>
  <th>Country</th>
  <th>Territory</th>
  <th>Territory Type</th>
  <th>Total</th>
  <th>Edit Location</th>
  <% @locations.each do |location| %>
    <tr>
      <td> <%= link_to "Plates", location_plates_path(location) %> </td>
      <td> <%= location.country %> </td>
      <td> <%= location.territory %> </td>
      <td> <%= location.territory_type %> </td>
      <td> <%= location.plates.count %> </td>
      <td> <%= link_to "Edit", edit_location_path(location) %> </td>
    </tr>
  <% end %>

</table>

<script>

  var h = 500;
  var w = 1500;

  $.getJSON("/plates_json", function(response) {
    console.log(response);
  })

  d3.select("#bars")
    .append("svg")
    .attr("height", h)
    .attr("width", w);

</script>
