<h1>Locations</h1>

<div> <%= link_to "Add Location", new_location_path %> </div>

<table class="table table-hover">
  <th>Plates</th>
  <th>Country</th>
  <th>Territory</th>
  <th>Territory Type</th>
  <th>Edit Location</th>
  <% @locations.each do |location| %>
    <tr>
      <td> <%= link_to "Plates", location_plates_path(location) %> </td>
      <td> <%= location.country %> </td>
      <td> <%= location.territory %> </td>
      <td> <%= location.territory_type %> </td>
      <td> <%= link_to "Edit Location", edit_location_path(location) %> </td>
    </tr>
  <% end %>

</table>
