<!DOCTYPE html>
<html>
<head>
  <title>LicensePlates</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>License Plates!</header>

  <!-- These need to be links -->
  <div> <%= link_to "Locations", locations_path %> </div>
  <div> <%= link_to "Plates", plates_path %> </div>
  <div> <%= link_to "Add", new_plate_path %> </div>
  <div>Update</div>
  <div>Delete</div>

<%= yield %>

</body>
</html>
