<!DOCTYPE html>
<html>
<head>
  <title>LicensePlates</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
  <link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
  <script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
</head>

<body>

  <div class="jumbotron navbar-fixed-top">
    <div class="container" id="banner">
      <div class="row">
        <div class="col-sm-4"><h3 class="stats">Locations (<%= Location.count %>) </h3></div>
        <div class="col-sm-4"><h2 class="title">License Plate Collection</h2></div>
        <div class="col-sm-4"><h3 class="stats">License Plates (<%= Plate.count %>) </h3></div>
      </div>
    </div>
  </div>

  <div class="container links">
    <!-- These need to be links -->
    <div class="col-md-1 text-center" id="route-index-1"><a href="https://github.com/arsm800/license_plates" class="btn btn-primary">See the Code</a></div>
    <div class="col-md-1 text-center" id="route-index-2"> <%= link_to "Locations", locations_path, class: "btn btn-primary" %> </div>
    <div class="col-md-1 text-center" id="route-index-3"> <%= link_to "Plates", plates_path, class: "btn btn-primary" %> </div>
  </div>

  <%= yield %>

</body>
</html>
